.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 350px;
    min-height: 200px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #4f92ff;
    outline: none;
    height: 40px;
    color: #0052cc;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: #0052cc;
    border: 1px solid #8a2be2;
    box-shadow: 0 0 5px rgba(212, 0, 255, 0.3), 0 0 10px rgba(58, 7, 87, 0.2), 0 0 15px rgba(92, 3, 133, 0.1), 0 2px 0 black;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #8a2be2;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #4f92ff;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #8a2be2;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.loginBox a {
    color: #0052cc;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}
